 <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Resume - Ejeh</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

    <!-- Favicons -->
  <link href="static/assets/img/favicon-32x32.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container-fluid d-flex justify-content-between align-items-center">

      <h1 class="logo me-auto me-lg-0"><a href="{{url_for('home')}}">Ejeh</a></h1>
<!--       Uncomment below if you prefer to use an image logo-->
<!--       <a href="index.html" class="logo"><img src="static/assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a href={{url_for('home')}}>Home</a></li>
          <li><a href="{{url_for('about')}}">About</a></li>
          <li><a class="active" href="{{url_for('resume')}}">Resume</a></li>
          <li><a href="{{url_for('contact')}}">Contact</a></li>
          <li><a href="{{url_for('portfolio')}}">Portfolio</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <div class="header-social-links">
        <a href="https://twitter.com/Mr_Ejehjohnson" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="https://www.facebook.com/ejehsax/" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="https://www.instagram.com/mr_ejeh/?hl=en" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="https://www.linkedin.com/in/johnson-e-23a38b119/" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>

    </div>

  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Resume</h2>
          <p></p>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <h3 class="resume-title">Summary</h3>
            <div class="resume-item pb-0">
              <h4>Johnson Ejeh</h4>
              <p><em>An energetic Software developer with over a year experience and exceptional
                  Analytical and critical thinking skills. Delivering a proactive approach, great work ethic and the ability to function well in a fast-paced/deadline-driven team environment.</em></p>
              <p>
              <ul>
                <li>Toronto, Ontario</li>
                <li>1 (647) 717-6786</li>
                <li>Johnsonejeh02@gmail.com</li>
              </ul>
              </p>

            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Software Engineering </h4>
              <h5>2022 - Present</h5>
              <p><em>Centennial College, ON</em></p>
              <p>Learnt more about Python, JavaScript, FrontEnd, BackEnd, how to work in team and individually. Also learnt to clean data, analyze and visualize data. </p>
            </div>
            <div class="resume-item">
              <h4>Mechanical Engineering</h4>
              <h5>2016 - 2019</h5>
              <p><em>Centennial College, ON</em></p>
              <p>Here I was able to learn to program machines using languages like G-code and Logic. Also learnt to program robot like ABB and Fanuk machines.</p>
            </div>
            <div class="resume-item">
              <h4>100 Days of Python </h4>
              <h5>2021(No expiry)</h5>
            </div>
            <div class="resume-item">
              <h4>Data Science & Machine Learning</h4>
              <h5>2021(No expiry)</h5>
          </div>
            <div class="resume-item">
              <h4>Web Development </h4>
              <h5>2021(No expiry)</h5>
          </div>

          </div>

          <div class="col-lg-6">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Software Developer</h4>
              <h5>September 2020 - June 2022 </h5>
              <p><em>John Holt Plc </em></p>
              <p>
              <ul>
                <li>Designed and implanted Backend for web application. Used python with Flask and Node.js with Express.js to implement backend including components like users, authentication, login and registration, sessions and CRUD MySQL and Mongodb for inventory.</li>
                <li>Developed Frontend components to meet up with requirements. Using JavaScript, HTML, CSS, React.js and Bootstrap to give structure, styles and behavior to websites.</li>
                <li>Building RESTful APIs: building APIs using both python and Node.js and testing with Postman. These REST APIs include Get, Post. Put, Patch and delete from database such as SQLite, MySQL and Mongodb. Using selenium driver to automate the entries in the database in Python.</li>
              </ul>
              </p>
            </div>
            <div class="resume-item">
              <h4>Freelance Internship</h4>
              <h5>January 2020 - August 2020</h5>
              <p><em>Ejeh.py</em></p>
              <p>
              <ul>
                <li>Developing Blog web applications. Created and deployed blog applications that would allow admin to add, delete and update content. These web applications also allowed people to register and login in other to leave comments. The backend components used python or Node.js depending on the client requirements and frameworks like Flask and Express.js are used. On the Frontend, JavaScript, EJS, HTML, CSS and bootstrap were used for the development.</li>
                <li>Password Manager. This application helps clients to store username, password and the name of the website. This project has been do as both web application and a desktop application. This was done use Python, tkinter, JSON, MySQL, PostgresSQL, and used Object-Oriented Programming.</li>
              </ul>
              </p>
            </div>
            <div class="resume-item">
              <h4>Coding Trainer</h4>
              <h5>January 2019 - December 2019</h5>
              <p><em>Ejeh.py</em></p>
              <p>
              <ul>
                <li>Planning, preparation, and delivery of coding lessons.</li>
                <li>Developed audio and visual aids to assist the young programmers in the understanding of basic programming concept.</li>
                <li>Explored communication and interpersonal skills to identify the educational needs of each student in the class and improve on them.</li>
              </ul>
              </p>
            </div>
          </div>
        </div>
        </div>
      </div>
    </section><!-- End Resume Section -->


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
<!--      <div class="copyright">-->
<!--        &copy; Copyright <strong><span>Ejeh</span></strong>. All Rights Reserved-->
<!--      </div>-->
      <strong><span>Thanks for visiting. Please reach out if you have any questions</span></strong>
    </div>
  </footer><!-- End  Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/purecounter/purecounter.js"></script>
  <script src="static/assets/vendor/aos/aos.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>

</body>

</html>